@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">BetOven</h1>
        <h4 class="active">Bets quentinhas a sair do Oven</h4>
        <br />
        <img class="img-fluid" src="~/Imagens/Roleta.jpg" />
    </div>