@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <!-- ======= Intro Section ======= -->
        <section id="intro">
            <div class="intro-container">
                <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                    <ol class="carousel-indicators"></ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active" style="background-image: url(assets/img/intro-carousel/Roleta.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                                    <p class="animate__animated animate__fadeInUp">Junte-se a nós e aproveite a oportunidade de ganhar todos os dias. Desde que aposte na BetOven a sua vitória será valorizada e acertada. Acreditamos em si, acredite em nós também.</p>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comece agora</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/eder.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Futebol</h2>
                                    <p class="animate__animated animate__fadeInUp">Temos a possibilidade de apostar nas maiores e melhores ligas de futebol no mundo. Aposte desde a Liga NOS até à Liga dos Campeões. No final de contas, quem não gosta de futebol não é?</p>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comece agora</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/lebron.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Basquetebol</h2>
                                    <p class="animate__animated animate__fadeInUp">Acha que o LeBron consegue mais um título pelos Lakers? Aposte. Acha que o MVP Giannis Antetokounmpo vai estragar a festa? Já sabe o que tem de fazer.</p>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comece agora</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/hansen.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Andebol</h2>
                                    <p class="animate__animated animate__fadeInUp">Gosta de desportos rápidos, intensos e com adrenalina constante? Então aposte no andebol e não se arrependerá, nós prometemos. Temos as melhores apostas para si.</p>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comece agora</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/intro-carousel/tenis.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Ténis</h2>
                                    <p class="animate__animated animate__fadeInUp">Federer ou Djokovic? Isso cabe-lhe a si escolher. Aposte nos diversos torneios ATP pelo mundo e fique impressionado com a variedade que temos só para si.</p>
                                    <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto animate__animated animate__fadeInUp">Comece agora</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </section><!-- End Intro Section -->

        <main id="main">

           
            <!-- ======= About Us Section ======= -->
            <section id="about">
                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h3>Sobre nós</h3>
                        <p>A BetOven é uma pequena empresa de apostas dos mais diversos temas. Começámos como um trabalho de faculdade e seguimos a partir daí. Com a sua ajuda chegaremos ainda mais longe.</p>
                    </header>

                    <div class="row about-cols">

                        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="about-col">
                                <div class="img">
                                    <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">O nosso ojetivo</a></h2>
                                <p>
                                    Temos o empenho necessário para que sejamos a maior casa de apostas nacional e internacional. Com a nossa ética de trabalho, dedicação e, claro, a sua ajuda chegaremos ao topo.
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="about-col">
                                <div class="img">
                                    <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-list-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">O nosso plano</a></h2>
                                <p>
                                    Planeamos ampliar a variedade de apostas do nosso website para o seu maior proveito e conforto. Queremos chegar a Gaming, Gambling e muitos mais...
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="about-col">
                                <div class="img">
                                    <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                                    <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                                </div>
                                <h2 class="title"><a href="#">A nossa visão</a></h2>
                                <p>
                                    Temos a noção de que Portugal é um país com bastante potencial para qualquer negócio, uma vez que são um país desenvolvido e pronto para novas oportunidades. Assim achámos por bem começar aqui, consigo.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End About Us Section -->
            <!-- ======= Skills Section ======= -->
            <section id="skills">
                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h3>OS NOSSOS DESPORTOS</h3>
                        <p>Aqui dispomos a percentagem de apostas feitas em cada desporto!</p>
                    </header>

                    <div class="skills-content">

                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="70">
                                <span class="skill">FUTEBOL <i class="val">55%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="70">
                                <span class="skill">BASKETBALL <i class="val">23%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="70">
                                <span class="skill">TENIS <i class="val">12%</i></span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="70">
                                <span class="skill">ANDEBOL <i class="val">10%</i></span>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Skills Section -->
            <!-- ======= Facts Section ======= -->
            <section id="facts">
                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h3>FACTOS</h3>
                        <p>Os nossos números extraordinários!</p>
                    </header>

                    <div class="row counters">

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">300</span>
                            <p>Utilizadores</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">1000</span>
                            <p>Apostas</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">250</span>
                            <p>Depósitos</p>
                        </div>

                        <div class="col-lg-3 col-6 text-center">
                            <span data-toggle="counter-up">2</span>
                            <p>Administradores</p>
                        </div>

                    </div>

                </div>
            </section><!-- End Facts Section -->
            <!-- ======= Portfolio Section ======= -->
            <section id="portfolio" class="section-bg">
                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h3 class="section-title">Jogos</h3>
                    </header>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class=" col-lg-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-app">Futebol</li>
                                <li data-filter=".filter-card">Andebol</li>
                                <li data-filter=".filter-web">Tenis</li>
                                <li data-filter=".filter-bas">Basquetebol</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="assets/img/portfolio/fut01.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/fut01.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Futebol 1"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Porto vs Benfica</a></h4>
                                    <p>Futebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-bas">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/basket01.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/basket01.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Basket 1"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Miami Heat vs SA Spurs</a></h4>
                                    <p>Basquetebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/novak_federer.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/novak_federer.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Tenis 1"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Djokovic vs Federer</a></h4>
                                    <p>Tenis</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/fut02.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/fut02.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Futebol 2"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">PSG vs Lyon</a></h4>
                                    <p>Futebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/andebol02.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/andebol02.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Andebol 2"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">FCP vs SCP</a></h4>
                                    <p>Andebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-bas">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/basket02.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/basket02.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Basket 2"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Cleveland Cavs vs GS Warriors</a></h4>
                                    <p>Basquetebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/buckmclean.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/buckmclean.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Tenis 2"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Buck vs Mclean</a></h4>
                                    <p>Tenis</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/futebol03.png" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/futebol03.png" class="link-preview venobox" data-gall="portfolioGallery" title="Futebol 3"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Granada vs Real Madrid</a></h4>
                                    <p>Futebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/andebol01.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/andebol01.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Andebol 1"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">SCP vs SLB</a></h4>
                                    <p>Andebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/andebol03.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/andebol03.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Andebol 3"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">FCP vs SLB</a></h4>
                                    <p>Andebol</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/nadalmuller.jpg" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/nadalmuller.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Tenis 1"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">Nadal vs Muller</a></h4>
                                    <p>Tenis</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-bas">
                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="~/assets/img/portfolio/basket03.png" class="img-fluid" alt="">
                                    <a href="~/assets/img/portfolio/basket03.png" class="link-preview venobox" data-gall="portfolioGallery" title="Basket 3"><i class="ion ion-eye"></i></a>
                                    <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="portfolio-details.html">LA Lakers vs LA Clippers</a></h4>
                                    <p>Basquetebol</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Portfolio Section -->
            <!-- ======= Our Clients Section ======= -->
            <section id="clients">
                <div class="container" data-aos="zoom-in">

                    <header class="section-header">
                        <h3>AS NOSSAS LIGAS</h3>
                    </header>

                    <div class="owl-carousel clients-carousel">
                        <img src="assets/img/clients/ligaNOS.png" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/la-liga.jpeg" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/Ligue_1.png" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/Bundesliga_logo.png" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/pl.png" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/SerieA.png" alt="" height="120" width="80">
                        <img src="~/assets/img/clients/Liga_Europa.png" alt="" height="120" width="80">
                    </div>

                </div>
            </section><!-- End Our Clients Section -->
            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="section-bg">
                <div class="container" data-aos="fade-up">

                    <header class="section-header">
                        <h3>Testemunhos</h3>
                    </header>

                    <div class="owl-carousel testimonials-carousel">

                        <div class="testimonial-item">
                            <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Utilizador</h4>
                            <p>
                                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Grande aplicação e grande desenvolvimento. Bastante útil para passar tempo e ganhar uns trocos.
                                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Utilizadora</h4>
                            <p>
                                <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                                Website inovador para quem gosta de apostar. Bastante útil e fácil de utilizar.
                                <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                            </p>
                        </div>

                    </div>

                </div>
            </section><!-- End Testimonials Section -->
            <!-- ======= Team Section ======= -->
            <section id="team">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <h3>Equipa</h3>
                        <p>Dois colegas de turma e curso que se juntaram na criação deste mesmo website</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-2 col-md-6" align="center">
                            <div class="member" data-aos="fade-up" data-aos-delay="300">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4></h4>
                                        <span></span>
                                        <div class="social">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6" align="center">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <img src="~/assets/img/gabriel.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Gabriel Marçal</h4>
                                        <span>CEO / Fundador</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" align="center">
                            <div class="member" data-aos="fade-up" data-aos-delay="100">
                                <img src="~/assets/img/doutores.jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Dupla de Sucesso</h4>
                                        <span>CEO's / Fundadores</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" align="center">
                            <div class="member" data-aos="fade-up" data-aos-delay="200">
                                <img src="~/assets/img/tiago.jpeg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Tiago Murteira</h4>
                                        <span>CEO / Fundador</span>
                                        <div class="social">
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Team Section -->

        </main><!-- End #main -->
    </div>